language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  # python 2.6 and 3.3 compatibility
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6 ]]; then pip install pycparser==2.14 cryptography==2.1.4; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3.3 ]]; then pip install virtualenv==15.1.0 setuptools==39.2.0; fi
  - pip install tox-travis
  - pip install coveralls
script:
  - tox
after_success:
  coveralls
deploy:
  provider: pypi
  user: khalas
  password:
    secure: "rrvTrcLSuZvIeMxP2A84WYB4I1Aea6ymGKuFInSjxReKhG+S9hmSuMyzZASbpGQftZUScCPI4SP3jJQMnEnUJC2jDp+lAjakxDS/E6NMtsIq2vboFG7sejo5LLFCk0vvFjlzZWagYohbMDdqiRT2JEqVnkfk5t2dinA2mgCucDg="
  on:
    tags: true
    branch: master
    python: '3.6'
